EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB9gKcj2Lr7Tt7lnsGTOCtY2dRLmvGAw9s
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=lingorise-65cb1.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=lingorise-65cb1
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=lingorise-65cb1.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=891698533974
EXPO_PUBLIC_FIREBASE_APP_ID=1:891698533974:web:6ea297e27328633e790df7
